.App {
  text-align: center;
}

.game-board {
  height: 60vh;
  margin: 30px;
  padding: 20px;
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
}

.card {
  border: 1px solid black;
}

.card:hover {
  transform: scale(1.03);
}

.card-image {
  max-width: 100%;
}